* {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  

.p_button{
    background-color: #3A643B;
}

.intro_tittle{
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: larger;
    
}
.intro_tittle > h1{
    /* background-color: aquamarine; */
    
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: larger;
}

.nunito{
    font-family: "Nunito", sans-serif;;
}